anyio
cachetools
certifi
charset-normalizer
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
idna
proto-plus
protobuf
pyasn1
pyasn1-modules
python-dotenv
python-telegram-bot
requests
rsa
sniffio
tqdm
urllib3
Pillow
